<?xml version="1.0" encoding="UTF-8" standalone="no"?><config><GameWindow><x_leftout>10</x_leftout><x_rightout>370</x_rightout><y_upout>45</y_upout><y_downout>370</y_downout></GameWindow><Player><numLives>10</numLives><score2EarnLife>100</score2EarnLife></Player><numBalls>3</numBalls><BallList><Ball id="1"><type>basicball</type><radius>10</radius><initXpos>190</initXpos><initYpos>250</initYpos><speedX>1</speedX><speedY>-1</speedY><maxBallSpeed>2</maxBallSpeed><color>red</color></Ball><Ball id="2"><type>bounceball</type><radius>12</radius><initXpos>190</initXpos><initYpos>150</initYpos><speedX>1</speedX><speedY>1</speedY><maxBallSpeed>3</maxBallSpeed><color>blue</color><bounceCount>10</bounceCount></Ball><Ball id="3"><type>shrinkball</type><radius>30</radius><initXpos>150</initXpos><initYpos>190</initYpos><speedX>1</speedX><speedY>-1</speedY><maxBallSpeed>2</maxBallSpeed><color>green</color></Ball></BallList></config>